

body {
	direction : rtl;
}

* {
    letter-spacing: 0 !important;
}

.swiper-pagination-fraction {
    direction: ltr;
}


.theme-banner-section .theme-swiper-control {
        direction: ltr;
}

.swiper-button-prev::after, .swiper-container-rtl .swiper-button-next::after {
    content: 'next';
}

.swiper-button-next::after, .swiper-container-rtl .swiper-button-prev::after {
    content: 'prev';
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    left: 10px;
    right: auto;
}


.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    right: 10px;
    left: auto;
}

.theme-carousel-control .svg-icon {
    transform: rotate(180deg);
}

.search-form .search-submit {
    padding-right: 12px;
    padding-left:unset;
}

@media (min-width:768px) and (max-width:1024px) {
h1, h2 {
    margin: 0 0 0rem!important;
}
}


.theme-animate-up {
    margin-top: 40px;
}

@media (max-width:767px) {
.theme-animate-up {
    margin-top: 10px;
}
}

.post-navigation .arrow {
    transform: rotate(180deg);
}




