@media screen and (max-width: 768px) {

	#topnav, #subnav{
		display: none;
	}
	#primary{
		margin-bottom: 30px;
	}
	.tinynav { 
		display: block; 
		width: 100%;
		padding:5px 0px;
		margin:10px 0px;
		border-radius: 3px;
	}

	#masthead .site-branding{
		margin:20px 0px;
		text-align: center;
	}

	.search-box{
		margin:10px auto 20px;
		float: none;
	}

	.search-box label{
		margin:0px auto;
		display: block;
		width: 230px;
	}
	#related_posts ul li{
		float: left;
		width: 45%;
		margin:2.5% 2.5% 2.5% 2.5%;
	}
}
