
body{
	font-size:16px!important
}

*{
	letter-spacing:0!important
}

.content-align-flex-start .main-header-menu {
    text-align: right!important;
}
@media (max-width:767px) {
.elementor-850 .elementor-element.elementor-element-d8f1042 > .elementor-widget-container {
    margin: 0px 40px 0px 0px!important;
    padding: 0px 0px 0px 0px!important;
}
}

@media (max-width:767px) {
.elementor-850 .elementor-element.elementor-element-633ac45 > .elementor-element-populated {
    padding: 0px 20px 0px 20px!important;
}
}


@media (max-width:767px) {
.elementor-mobile-align-left {
    text-align: right!important;
}
}

@media (max-width:767px) {
.elementor-850 .elementor-element.elementor-element-440d9ea .elementor-icon-box-wrapper {
    text-align: right!important;
}
}

@media (max-width:767px) {
.elementor-850 .elementor-element.elementor-element-0292a89 .elementor-icon-box-wrapper {
    text-align: right!important;
}
}

@media (max-width:767px) {
.elementor-850 .elementor-element.elementor-element-0f83312 .elementor-icon-box-wrapper {
    text-align: right!important;
}
}

@media (max-width:767px) {
.elementor-293 .elementor-element.elementor-element-7633dfa {
    text-align: center!important;
}
}

@media (max-width:767px) {
.elementor-293 .elementor-element.elementor-element-5e73306 {
    text-align: center!important;
}
}

@media (max-width:767px) {
.elementor-850 .elementor-element.elementor-element-5e265dd > .elementor-widget-container {
    margin: 10px 0px 0px 40px!important;
    padding: 0px 0px 30px 0px!important;
}
}

@media (max-width:767px) {
.elementor-850 .elementor-element.elementor-element-c2df289 > .elementor-widget-container {
    margin: 10px 0px 0px 40px!important;
    padding: 0px 0px 30px 0px!important;
}
}

@media (max-width:767px) {
.elementor-850 .elementor-element.elementor-element-3e98f8c > .elementor-widget-container {
    margin: 10px 0px 0px 40px!important;
    padding: 0px 0px 30px 0px!important;
}
}


.elementor-850 .elementor-element.elementor-element-a8f3564 img {
    width: 0px!important;
}

@media (min-width:768px) and (max-width:1024px) {
.elementor-850 .elementor-element.elementor-element-d8f1042 > .elementor-widget-container {
    margin: 0px 40px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}
}
@media (min-width:768px) and (max-width:1024px) {
.elementor-tablet-align-left {
    text-align: right!important;
}
}
@media (min-width:768px) and (max-width:1024px) {
.elementor-850 .elementor-element.elementor-element-ba20883 > .elementor-element-populated {
    margin: 0px 0px 0px 32px!important;
    padding: 0px 40px 40px 64px!important;
}
}

@media (min-width:768px) and (max-width:1024px) {
.elementor-850 .elementor-element.elementor-element-b485769 > .elementor-element-populated {
    margin: 0px 32px 0px 0px!important;
    padding: 0px 40px 40px 64px!important;
}
}

@media (min-width:768px) and (max-width:1024px) {
.elementor-850 .elementor-element.elementor-element-8d2712a > .elementor-element-populated {
    margin: 0px 0px 0px 32px!important;
    padding: 0px 40px 40px 64px!important;
}
}

@media (min-width:768px) and (max-width:1024px) {
.elementor-850 .elementor-element.elementor-element-528c7dc > .elementor-element-populated {
    margin: 0px 32px 0px 0px!important;
    padding: 0px 40px 40px 64px!important;
}
}

@media (min-width:768px) and (max-width:1024px) {
.elementor-850 .elementor-element.elementor-element-3e98f8c > .elementor-widget-container {
    margin: 10px 0px 0px 40px!important;
    padding: 0px 0px 30px 0px!important;
}
}

@media (min-width:768px) and (max-width:1024px) {
.elementor-850 .elementor-element.elementor-element-5e265dd > .elementor-widget-container {
    margin: 10px 0px 0px 40px!important;
    padding: 0px 0px 30px 0px!important;
}
}

@media (min-width:768px) and (max-width:1024px) {
.elementor-850 .elementor-element.elementor-element-9ff2345 > .elementor-widget-container {
    margin: 10px 0px 0px 40px!important;
    padding: 0px 0px 30px 0px!important;
}
}

@media (min-width:768px) and (max-width:1024px) {
.elementor-850 .elementor-element.elementor-element-c2df289 > .elementor-widget-container {
    margin: 10px 0px 0px 40px!important;
    padding: 0px 0px 30px 0px!important;
}
}

@media (max-width:767px) {
.elementor-476 .elementor-element.elementor-element-39c4fce > .elementor-element-populated {
    padding: 0px 20px 0px 0px!important;
}
}
@media (max-width:767px) {
.elementor-851 .elementor-element.elementor-element-6ff2ff7 {
    padding: 150px 0px 100px 0px!important;
}
}

@media (min-width:768px) and (max-width:1024px) {
.elementor-851 .elementor-element.elementor-element-6ff2ff7 {
    padding: 150px 50px 50px 50px!important;
}
}

@media (max-width:767px) {
.elementor-851 .elementor-element.elementor-element-105f188 > .elementor-element-populated {
    padding: 0px 20px 0px 0px!important;
}
}

@media (max-width:767px) {
.elementor-851 .elementor-element.elementor-element-90393fd .elementor-icon-box-wrapper {
    text-align: right!important;
}
}

@media (max-width:767px) {
.elementor-851 .elementor-element.elementor-element-dbb9845 .elementor-icon-box-wrapper {
    text-align: right!important;
}
}

@media (max-width:767px) {
.elementor-851 .elementor-element.elementor-element-db0e74f .elementor-icon-box-wrapper {
    text-align: right!important;
}
}

@media (min-width:768px) and (max-width:1024px) {
.elementor-851 .elementor-element.elementor-element-1e8e919 > .elementor-element-populated {
    padding: 0px 50px 0px 0px!important;
}
}

@media (max-width:767px) {
.elementor-14 .elementor-element.elementor-element-e16f0cf > .elementor-element-populated {
    padding: 0px 20px 0px 0px!important;
}
}


@media (max-width:767px) {
.elementor-14 .elementor-element.elementor-element-48e9e70 {
    padding: 150px 0px 100px 0px!important;
}
}

@media (max-width:1024px) {
.elementor-widget.elementor-tablet-align-left .elementor-icon-list-item, .elementor-widget.elementor-tablet-align-left .elementor-icon-list-item a {
    justify-content: unset!important;
    text-align: right!important;
}
}

.elementor-16 .elementor-element.elementor-element-79737da img {
    width: 0px!important;
}

@media (max-width:767px) {
.elementor-16 .elementor-element.elementor-element-8509183 {
    padding: 150px 0px 100px 10px!important;
}
}

@media (max-width:767px) {
.elementor-16 .elementor-element.elementor-element-fb2a873 > .elementor-element-populated {
    padding: 0px 20px 0px 0px!important;
}
}

@media (min-width:768px) and (max-width:1024px) {
.elementor-16 .elementor-element.elementor-element-134ea01 > .elementor-element-populated {
    margin: 0px 50px 0px 0px!important;
    padding: 0px 0px 0px 0px!important;
}
}

@media (max-width:767px) {
.elementor-852 .elementor-element.elementor-element-7875fb6 {
    padding: 150px 10px 100px 0px!important;
}
}

@media (min-width:768px) and (max-width:1024px) {
.elementor-852 .elementor-element.elementor-element-7875fb6 {
    padding: 150px 50px 50px 50px!important;
}
}

@media (min-width:768px) and (max-width:1024px) {
.elementor-852 .elementor-element.elementor-element-be5cd2a > .elementor-element-populated {
    margin: 0px 15px 0px 15px;
}
}


.widget_search .search-form::after {
    left: 15px!important;
    right:unset!important;
}

.ast-comment-cite-wrap {
    text-align: right!important;
}

.main-header-bar .main-header-bar-navigation .page_item_has_children > a::after, .main-header-bar .main-header-bar-navigation .menu-item-has-children > a::after, .site-header-focus-item .main-header-bar-navigation .menu-item-has-children > .menu-link::after {
    margin-right: 10px!important;
	margin-left: unset!important;
}


[data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-toggle-icon .ast-mobile-svg {
    fill: #fff!important;
}

.ast-theme-transparent-header [data-section="section-header-mobile-trigger"] .ast-button-wrap .ast-mobile-menu-trigger-minimal {
    background: #d77711!important;
}

@media (max-width:767px) {
.ast-separate-container .comment-respond {
    padding: 3.5em 3.5em !important;
}
}

.ast-comment-meta {
    padding: 0 2.5em 1.33em 10em !important;
    margin-right: 3em!important;
    margin-left:unset!important;
    margin-top: -3.5em!important;
}

[data-section="section-header-mobile-trigger"] .ast-button-wrap .ast-mobile-menu-trigger-minimal {
    background: #d77711!important;
}

@media (max-width:767px) {
.main-header-menu .sub-menu .menu-item:not(.menu-item-has-children) .menu-link .icon-arrow:first-of-type {
    font-size: 0px!important;
}
}

@media (min-width:768px) and (max-width:1024px) {
.main-header-menu .sub-menu .menu-item:not(.menu-item-has-children) .menu-link .icon-arrow:first-of-type {
    font-size: 0px!important;
}
}



































